Vagrant.configure("2") do |config|
  config.ssh.username = "bitcoin"
  config.vm.boot_timeout = 800
  #config.vm.synced_folder ".", "/home/bitcoin/Desktop/shared"
  config.vm.provider :virtualbox do |vb|
    vb.name = "bitcoin-virtual-machine"
    vb.gui = true
  end
end
